body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

h1 {
    color: darkgray;
}

form {
    text-align: center;
    background-color: antiquewhite;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
}